body {
	width: 100%;
	height: 100%;
	margin-top: 5%;
	padding: 0;
	background-color: #2e2e2d;
}

.HeaderWrapper {
	top: -50%;
	margin: auto;
	width: 70%;
	padding: 10px;
	text-align: center;
}

.ResultInput {
	display: inline-block;
}

.search_button {
	display: inline-block;
}

.result_area {
	margin: auto;
	width: 70%;
	border: 3px solid #737271;
	padding: 10px;
}

.game_container img {
	height: 10%;
}

.game_container h3 {
	text-align: right;
}
